<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Courses Title</title>
</head>
<body>
<div th:each="student1 : ${student}">
    <h2 th:text=Courses></h2>
    <h3 th:inline="text"> [[${student1.firstname}]] [[${student1.lastname}]]</h3>
    <ul>
        <th:block th:each="courses : ${student1.course}">
            <li th:inline="text"><b>[[${courses.title}]] </b> with [[${courses.instructor}]], [[${courses.description}]] for [[${courses.credits}]] credits.</li>

        </th:block>

    </ul>
</div>
</body>
</html>